.form-upload {

    label.label-upload {
        display: inline-block;
        color: white;
        background: indigo;
        padding: 0.5rem;
        font-family: sans-serif;
        border-radius: 0.3rem;
        cursor: pointer;
    }

    input[type="file"] {
        display: none;
    }
}

.card-sticky-save {
    position: sticky;
    @media (min-height: 720px) {
        top: 50%;
    }
    @media (max-height: 719px) {
        bottom: 0;
    }
}

.filepond--root {
    .filepond--credits {
        display: none !important;
    }

    [aria-hidden="true"], [aria-hidden="1"] {

        display: block !important;
    }
}